/* PC */

@media (min-width: 1024px) {}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* Mobile */

@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #content .member-img {
        width: 60%;
    }
    .contact-form {
        margin-top: 16px;
    }
}