/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. từ ngoài vào trong
2. trừ trong xuống dưới
3. từ tổng quan đến chi tiết
*/

/*
1.vị trí
2.kích thước
3. màu sắc
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông)
*/
#main{

}

#header{
    height: 46px;
    background-color: #000;
}

#nav {

}

#nav li {

}

#nav .subnav {
    display: none;
}

#nav li {
    display: inline-block;
}
#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover a {
    color: #000;
    background-color: #ccc;
}
#slider{

}

#content{

}

#footer{

}
